<h1>Search</h1>

<form method="get" action="/results">
  <label for="title">Title: </label>
  <input id="title" name="title" type="text" />
  <br />

  <label for="id">Id: </label>
  <input id="id" name="id" type="text" />
  <br />

  <input type="submit" value="Search" />
</form>

<a href="/">Back</a>